*.tif filter=lfs diff=lfs merge=lfs -text
*.gbdtable filter=lfs diff=lfs merge=lfs -text
*.gbdtabex filter=lfs diff=lfs merge=lfs -text
data_raw/denver_tree/denver_tree_clean.rds filter=lfs diff=lfs merge=lfs -text
data_raw/denver_tree/denver_trees_sample.geojson filter=lfs diff=lfs merge=lfs -text
data_raw/ndvi_raw_extracts/extracted_ndvi_values.rds filter=lfs diff=lfs merge=lfs -text
data_raw/ndvi_raw_extracts/extracted_ndvi_value.rds filter=lfs diff=lfs merge=lfs -text
data_raw/ndvi/raw_extracts/extracted_ndvi_value.rds filter=lfs diff=lfs merge=lfs -text
data/raw/ndvi/pheno_curve_metrics/extracted_metrics.rds filter=lfs diff=lfs merge=lfs -text
data_raw/ndvi/pheno_curve_metrics/extracted_metrics.rds filter=lfs diff=lfs merge=lfs -text
